.clip-component {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: cadetblue;
  cursor: pointer;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.clip-component.ghost-clip {
  background-color: indianred;
}
