#table-component {
  width: auto;
  background-color: lawngreen;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  margin-bottom: 50px;
  overflow: auto;
  background-image: linear-gradient(to right, #AAAAAA 1px, transparent 1px);
}
