#table-component {
  width: 100%;
  flex-grow: 1;
  background-color: lawngreen;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;

  .track {
    flex-grow: 1;
    border-bottom: 1px solid black;
  }
}
